<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vermia.cosas"
    >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CuriosiTV"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <activity
            android:name=".Introduccion"
            android:label="CuriosiTV"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity" />
        <activity android:name=".Idiomas"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Idiomas"
            android:screenOrientation="portrait"/>
        <activity android:name=".Filtros"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".About"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity android:name=".Temas"

            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".TheBigBangTheory"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".BusquedaTBBT"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".BusquedaSP"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"

            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            </activity>
        <activity android:name=".Video1x01"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>